<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="dashboard-content">
        <h1 class="title"> Hello <%= current_user.first_name %> </h1>
        <div class="tabs">
          <% if current_user.speeches.count <= 1 %>
            <h4><span class="tab active"><%= current_user.speeches.count %></span> speech </h4>
          <% else %>
            <h4><span class="tab"><%= current_user.speeches.count %></span> speeches </h4>
          <% end %>
          <h4><span class="tab">8</span> submitted </h4>
          <h4><span class="tab">11</span> reviews </h4>
        </div>
      </div>
        <% @user_speeches.each do |speech| %>
          <div class="col-xs-12 col-sm-4">
            <%= link_to speech_path(speech), class:"unstyle-link" do %>
              <div class="cards">
                <div class="text-center">
                  <%= cl_image_tag User.find(speech.user_id).photo, height: 50, width: 50, radius: :max, crop: :fill, gravity: :face, class: "speecher-avatar" %>
                  <h3><%= speech.title %></h3>
                  <p><%= speech.description %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
