<div class="container">
  <div class="row">
  <h2 class="title"> Hello <%= current_user.first_name %></h2>
    <ul class='list-inline'>
      <li><h3> <span class="purple">8</span> speeches </h3></li>
      <li><h3> <span class="purple">8</span> in progress </h3></li>
      <li><h3> <span class="purple">11</span> reviews </h3></li>
    </ul>
    <% @speeches.each do |speech| %>
    <%= speech.url %> <%= speech.description %> <%= speech.user.first_name %>
    <%= link_to "See", speech_path(speech), class:"btn btn-primary"  %>
    <% end %>
    <%= link_to "Create a new speech", new_speech_path, class:"btn btn-success"  %>
  </div>
</div>
