<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="dashboard-content">
<!--         <h1 class="title"> Hello <%#= current_user.first_name %> </h1> -->
        <div class="tabs text-center">
          <%= link_to "#", class:"tab active", id:"speeches" do %>
            <p><%=@user_speech_done.count%> <%= @user_speech_done.count <= 1 ? "speech" : "speeches" %></p>
          <% end %>
          <%= link_to "#", class:"tab", id:"submitted" do %>
            <p><%= @user_speech_submitted.count.to_s + " submitted" %> </p>
          <% end %>
          <%= link_to "#", class:"tab", id:"reviews"  do %>
            <% if @reviews_received.nil? %>
              <p>0 review</p>
            <% else %>
              <p><%= @reviews_received.count %> <%= @reviews_received.count <= 1 ? "review" : "reviews" %></p>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="tab-content" id="speeches">
        <% unless @user_speech_done.nil? %>
          <% @user_speech_done.each do |speech| %>
            <div class="col-xs-12 col-sm-4">
              <%= link_to speech_path(speech), class:"unstyle-link" do %>
                <div class="cards">
                  <div class="text-center">
                    <%= image_tag "mic.png", class: "image-cards" %>
                    <h3><%= speech.title %></h3>
                    <p><%= speech.description %></p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="tab-content" id="submitted">
        <% @user_speech_submitted .each do |speech| %>
          <div class="col-xs-12 col-sm-4">
            <div class="cards">
              <div class="text-center">
                <%= image_tag "mic.png", class: "image-cards" %>
                <h3><%= speech.title %></h3>
                <p><%= speech.description %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="tab-content" id="reviews">
        <% unless @reviews_received.nil? %>
          <% @reviews_received.each do |review| %>
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
              <div class="review">
                <div class="review-user">
                  <%= cl_image_tag review.user.photo, height: 40, width: 40, radius: :max, crop: :fill, gravity: :face %>
                  <div class="reviewer-info">
                    <p><strong><%= review.user.first_name %></strong></p>
                    <p><%= (Date.today - Date.parse(review.created_at.strftime("%Y-%m-%e"))).to_i %> <%= (Date.today - Date.parse(review.created_at.strftime("%Y-%m-%e"))).to_i > 1 ? " days ago" : " day ago" %> on <%= link_to review.speech.title, speech_path(review.speech), class:"speech-name" %> </p>
                  </div>
                </div>
                <div class="review-content">
                  <%= review.content %>
                </div>
            </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= link_to new_speech_path , class:"fixedbtn" do  %>
        <%= image_tag "plus-symbol.png", class:"plus" %>
      <% end %>
    </div>
  </div>
</div>
