<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="dashboard-content">
        <h1 class="title"> Hello <%= current_user.first_name %> </h1>
        <div class="tabs text-center">
          <%= link_to "#", class:"tab active", id:"speeches" do %>
            <p><%=current_user.speeches.count%> <%= current_user.speeches.count <= 1 ? "speech" : "speeches" %></p>
          <% end %>
          <%= link_to "#", class:"tab", id:"submitted" do %>
            <p>8 submitted</p>
          <% end %>
          <%= link_to "#", class:"tab", id:"reviews"  do %>
            <p>11 reviews</p>
          <% end %>
        </div>
      </div>
      <div class="tab-content" id="speeches">
        <% @user_speeches.each do |speech| %>
          <div class="col-xs-12 col-sm-4">
            <%= link_to speech_path(speech), class:"unstyle-link" do %>
              <div class="cards">
                <div class="text-center">
                  <%= image_tag "mic.png", class: "image-cards" %>
                  <h3><%= speech.title %></h3>
                  <p><%= speech.description %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="tab-content" id="submitted">
        <% @user_speeches_submitted.each do |speech| %>
          <div class="col-xs-12 col-sm-4">
            <div class="cards">
              <div class="text-center">
                <%= image_tag "mic.png", class: "image-cards" %>
                <h3><%= speech.title %></h3>
                <p><%= speech.description %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="tab-content" id="reviews">
        <p>reviews</p>
      </div>
      <%= link_to new_speech_path , class:"fixedbtn" do  %>
        <%= image_tag "plus-symbol.png", class:"plus" %>
      <% end %>
    </div>
  </div>
</div>
