<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="dashboard-content">
        <h1 class="title"> Hello <%= current_user.first_name %> </h1>
        <div class="tabs text-center">
          <%= link_to "#", class:"tab active", id:"speeches" do %>
            <p><%=@user_speech_done.count%> <%= @user_speech_done.count <= 1 ? "speech" : "speeches" %></p>
          <% end %>
          <%= link_to "#", class:"tab", id:"submitted" do %>
            <p><%= @user_speech_submitted.count.to_s + " submitted" %> </p>
          <% end %>
          <%= link_to "#", class:"tab", id:"reviews"  do %>
            <p><%= @reviews_received.count %> <%= @reviews_received.count <= 1 ? "review" : "reviews" %></p>
          <% end %>
        </div>
      </div>
      <div class="tab-content" id="speeches">
        <% @user_speech_done.each do |speech| %>
          <div class="col-xs-12 col-sm-4">
            <%= link_to speech_path(speech), class:"unstyle-link" do %>
              <div class="cards">
                <div class="text-center">
                  <%= image_tag "mic.png", class: "image-cards" %>
                  <h3><%= speech.title %></h3>
                  <p><%= speech.description %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="tab-content" id="submitted">
        <% @user_speech_submitted .each do |speech| %>
          <div class="col-xs-12 col-sm-4">
            <div class="cards">
              <div class="text-center">
                <%= image_tag "mic.png", class: "image-cards" %>
                <h3><%= speech.title %></h3>
                <p><%= speech.description %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="tab-content" id="reviews">
        <% @reviews_received.each do |review| %>
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <ul class="list-group list-unstyled list-inline">
              <li> <%= cl_image_tag review.user.photo, height: 50, width: 50, radius: :max, crop: :fill, gravity: :face %></li>
              <li><%= review.content %></li>
              <li><%= review.speech.title %></li>
            </ul>
          </div>
        <% end %>
      </div>
      <%= link_to new_speech_path , class:"fixedbtn" do  %>
        <%= image_tag "plus-symbol.png", class:"plus" %>
      <% end %>
    </div>
  </div>
</div>
